body {
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.search-container {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}
.search-bar {
  width: 100%;
  height: 10vh;
  font-size: 3vh;
  padding-left: 1vw;
  border: none;
  border-bottom: 1px solid black;
}

.student-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student-component {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  padding-top: 3vh;
}

.student-card {
  padding: 2vh;
  padding-bottom: 5vh;
  display: flex;
  flex-wrap: nowrap;
  gap: 1vw;
  justify-content: flex-start;
}

.student-picture {
  display: flex;
  align-self: left;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

.student-img {
  border-radius: 50%;
  border: 2px solid gray;
  width: 20vw;
  height: auto;
  image-rendering: smooth;
}

.student-name {
  display: flex;
  flex-wrap: nowrap;
  font-weight: bolder;
  font-size: 7vh;
  padding: 1vh;
  max-width: 45vw;
}

.expand-button {
  position: relative;
  margin-left: 22vw;
  transform: translateY(-100px);
}

.student-info {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.student-datum {
  display: flex;
  flex-wrap: nowrap;
  color: gray;
  font-size: 2vh;
  font-weight: lighter;
  padding-left: 5vw;
  max-width: fit-content;
}

.grade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
